// HEADER

.aboutrespon{
    height: 2045px;
    width: 100%;
}

.body{
    height: 1058px;
    width: 100%;
}

// BODY

.weapon{
    margin-top: 126px;
    margin-left: 205px;
}

.judulabout{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 400;
    color: #3f729b;
    margin-left: 25px;
}

.subabout{
    width: 350px;
    text-align: center;
    color: #626a7f;
}

.aboutt1{
    margin-top: -230px;
}

.aboutt2{
    text-align: right;
    margin-top: -325px;
    margin-right: 150px;
}

.weapon2{
    text-align: right;
    margin-right: 270px;
    margin-top: -350px;
}

.judulabout2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 400;
    color: #3f729b;
}

.subabout2{
    color: #626a7f;
    margin-right: -100px;
}

// Jumbotron About Us

.jumbous{
    margin-top: 270px;
    background-color: white;
}

.aboutt3{
    margin-left: 300px;
    margin-top: -670px;
}

.aboutt4{
    margin-left: -32px;
    margin-top: -100px;
}

.tulisan{
    width: 500px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 25px;
    color: rgba(252, 246, 236, 0.8);
    font-weight: 400;
    text-align: center;
    margin-left: 700px;
}

// Footer

.banban{
    margin-top: 329px;
}