.footer{
    height: 85px;
    width: 100%;
    background-color: #626a7f;
    color: white;
    margin-top: -100px;
}

.footer1{
    margin-left: 502px;
    font-size: 18px;
    color: white;
}

.group{
    margin-left: 10px;
}

.fb{
    height: 40px;
    width: 40px;
}

.button11{
    text-align: right;
    margin-top: -165px;
}

.c{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}