// Navbar
.test {
    color: white;
    width: 100%;
    background-color: #626a7f;
    height: 70px;
    }

// Navbar Brand
.brand{
    margin-left: 38px;
    color: white;
}


// Navbar List
.aja{
    font-size: 16px;
    margin-left: 650px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
    color: white;
}

a{
    color: white;
}

// Jumbotron

.ltbg{
    margin-top: -66px;
    margin-left: -32px;
    width: 1351px;
}

.button12{
    text-align: right;
    margin-bottom: -72px;
    margin-top: -150px;
    margin-right: 40px;
}