.inti{
    width: 100%;
    height: 226px;
    margin-bottom: -50px;
}

.lead{
    margin-top: -38px;
}
.alamat{
    text-align: justify;
    width: 350px;
    height: 85px;
    margin-left: 90px;
    margin-top: -38px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

.alamat2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    width: 250px;
    height: 43px;
    margin-left: 90px;
}

.profil{
    text-align: center;
    margin-left: 602px;
    margin-top: -45px;
    width: 100px;
    height: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.profil2{
    text-align: center;
    margin-left: 802px;
    margin-top: -62px;
    width: 100px;
    height: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.judulprofil{
    font-size: 16px;
    font-weight: bold;
    color: #0f5652;
}

.judulinti{
    font-weight: bold;
    color: #0f5652;
}