// Mother of Cards

.ss{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 374px;
    word-wrap: break-word;
    background-color: #eeeeee;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-left: 82px;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-top: -70px;
}

.containersatu{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    height: 769px;
    width: 100%;
    background-color: white;
    
}

// Kids Pic
.Img{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 33px;
}

.headline{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-left: 150px;
    margin-top: 120px;
    color: #626a7f;
}

.cardtext{
    color: #626a7f;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}